@import 'src/styles/variables';
.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 2.2rem 0;
  background-color: white;
  overflow: scroll;
  &__shown {
    display: block;
  }
}
.link-block {
  margin-top: 4rem;
  flex-direction: column;
  align-items: center !important;
}

.link {
  margin: 0 1.5rem;
  padding-bottom: $p-xxl;
  transition: all 0.3s ease-in-out;
}

.first-btn {
  margin-bottom: $p-m;
  width: 100%;
}

.second-btn {
  width: 100%;
}

.close {
  max-height: 32px !important;
}