@import '~/styles/variables';
@import '~/styles/mixins';

.marketing-container {
    padding-bottom: 60px;
    border-bottom: 2px solid rgba(188, 208, 229, 0.496913);
    @include breakpoint('mobile') {
        padding-bottom: 120px;
    }
}

.marketing-header {
    @include breakpoint('mobile') {
        padding-left: 15px;
    }
}

.marketing-title {
    @include breakpoint('mobile') {
        font-family: 'Poppins Bold';
        font-size: 34px;
        line-height: 51px;
        margin-bottom: 9px;
    }
}
.marketing-text {
    font-family: 'Poppins Medium';
    font-size: 16px;
    line-height: 26px;
    @include breakpoint('mobile') {
        margin-bottom: 55px;
    }
}

.carousel-wrapper {
    overflow: hidden;
}