@import './variables';
@import './mixins';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: $title;
  margin-bottom: 20px;
  @include breakpoint('mobile') {
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
  }
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: $title;
}
h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: $title;
}
h5 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $text;
}

a {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: $text;
  text-decoration: inherit;
  &:hover,
  &:focus,
  &:active {
    color: $text;
  }
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $text;
  margin-bottom: 30px;
  @include breakpoint('mobile') {
    margin-bottom: 45px;
  }
}

