@import './variables';
@import './mixins';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'Poppins Bold';
  font-size: 30px;
  line-height: 40px;
  color: $title;
  margin-bottom: 20px;
  @include breakpoint('mobile') {
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
  }
}
h2 {
  font-family: 'Poppins Bold';
  font-size: 25px;
  line-height: 37px;
  margin-bottom: 25px;
  color: $title;
  @include breakpoint('mobile') {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 54px;
  }
}
h4 {
  font-family: 'Poppins Semi Bold';
  font-size: 22px;
  line-height: 33px;
  color: $title;
}
h5 {
  font-family: 'Poppins Medium';
  font-size: 16px;
  line-height: 24px;
  color: $text;
}

a {
  display: block;
  font-family: 'Poppins Regular';
  font-size: 14px;
  line-height: 28px;
  color: $text;
  text-decoration: none !important;
  &:hover,
  &:focus,
  &:active {
    color: $text;
  }
}

p {
  font-family: 'Poppins Regular';
  font-size: 18px;
  line-height: 28px;
  color: $text;
  margin-bottom: 30px;
  @include breakpoint('mobile') {
    margin-bottom: 45px;
  }
}

.slick-dots li button:before {
  font-size: 16px !important;
  color: #EFEFEF !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color:#FF9900 !important;
}

