@import 'src/styles/variables';
.button {
  font-family: 'Poppins Semi Bold';
  font-size: 16px;
  line-height: 24px;
  color: $signin;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px !important;
  border: none;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  padding-left: $p-l;
  padding-right: $p-l;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    transform: scale(1.05) !important;
  }
  &:focus {
    box-shadow: none !important;
  }
  &:active {
    transform: scale(0.95) !important;
  }
}
.primary {
  background-color: $orange;
  color: $white !important;
  &:hover,
  &:focus {
    background-color: $orange;
  }
  &:active {
    background-color: $orange !important;
  }
}
.secondary {
  color: $signin;
  background-color: transparent;
  border: 1px solid #BCD0E5;
  &:hover,
  &:focus {
    color: $signin;
    background-color: transparent;
    border: 1px solid #BCD0E5;
  }
  &:active {
    color: $signin !important;
    background-color: transparent !important;
    border: 1px solid #BCD0E5 !important;
  }
}
