@import 'src/styles/variables';
@import 'src/styles/mixins';

.hero-container {
  padding-top: 105px;
  @include breakpoint('mobile') {
    padding-top: 128px;
  }
}

.image-styles {
  max-width: 605px;
  margin-left: auto;
}

.left-col {
  @include breakpoint('mobile') {
    padding-top: 60px;
  }
  @include breakpoint('tablet') {
    padding-top: 80px;
  }
}

.button-wrapper {
  margin-bottom: 24px;
  .hero-btn {
    width: 100%;
    margin-bottom: 24px;
    @include breakpoint('tablet') {
      margin-bottom: 0;
    }
  }
  @include breakpoint('tablet') {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    .hero-btn {
      margin-right: 30px;
      max-width: 175px;
    }
  }
}

.hero-watch {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline !important;
  color: $orange;
  .play {
    margin-right: 9px;
  }
}